<div>
    <div class="row">
        <h1>Scenario scene settings</h1>
    </div>

    <div class="row">
        <mat-form-field>
            <mat-label>Scenario space</mat-label>
            <mat-select [(ngModel)]="selectedScenarioSpace"
                        (selectionChange)="getAssetClasses()">

                @for (scenarioSpace of scenarioSpaces.assetClasses | keyvalue; track scenarioSpace) {
                    <mat-option [value]="scenarioSpace.key">{{scenarioSpace.key}}</mat-option>
                }
                
            </mat-select>
        </mat-form-field>

        @if(!loading && selectedScenarioSpace !== '' && !error){
            <app-asset-classes 
                (onLoading)="onAssetClassesLoadingEvent($event)"
                (onSimulation)="onSimulationPerformed($event)"
                [assetClasses]="assetClasses"
                [selectedScenarioSpace]="selectedScenarioSpace">
            </app-asset-classes>
        }
    </div>
</div>